@model IEnumerable<SystemOfTestKnowledge.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}
@if (User.IsInRole("admin"))
{
    <a asp-action="Create">Добавить пользователя</a>
}
<form method="get" asp-controller="Users" asp-action="UserList"></form>
<table class="table">
    <tr><th>Email</th><th>Имя</th><th>Возраст</th></tr>
    @foreach (var user in Model)
    {
        @if (User.Identity.Name == @user.Email || User.IsInRole("admin"))
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">

                        @if (User.Identity.Name == @user.Email || User.IsInRole("admin"))
                        {
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                            if (!User.IsInRole("admin"))
                            {
                                <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-primary" asp-action="ChangePasswordAdmin" asp-route-id="@user.Id">Сменить пароль</a>
                            }

                        }

                        @if (User.IsInRole("admin"))
                        {
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        }

                    </form>
                </td>
            </tr>
         }
     }
</table>